@import "react-color-picker";

.shadowPlayground-demo {
  margin: 0 0.5em 1.5em;
  padding: 1.5em;

  border: 1px solid #BBB;
  font-size: 2em;
  text-align: center;
}

.shadowPlayground-demo > h1 {
  margin: 0;
  padding: 0.5em;
}

.shadowPlayground input {
  margin: 0.25em;
}

.shadowPlayground-label--section {
  display: block;
  font-weight: bold;
}

.shadowPlayground-fontStyles {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  /*min width for color picker*/
  min-width: 340px;
}
input.shadowPlayground-textInput {
  display: block;

  margin: 1.5em auto;
  width: 40%;
  min-width: 20em;
}

.shadowPlayground-fontInput {
  display: inline-block;
  vertical-align: text-top;

  border: 1px solid #111;
  padding: 0.5em;
  margin: 0.25em;

  line-height: 1em;
}

.shadowPlayground-fontInput:active,
.shadowPlayground-fontInput:hover {
  background-color: #AAA);
  ont-weight: bold;
}

.shadowPlayground-fontInput > input[type=radio] {
  display: none;
}

.shadowPlayground-colors {
  display: flex;
  flex-direction: column;
}

.shadowPlayground-colorLabels {
  display: flex;
  flex-wrap: wrap;
}

.shadowPlayground-colorBlock {
  width: 8em;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid black;
}

.shadowPlayground-colorBlock.active {
  background: #AAA;
}


.shadowPlayground-colorBlock > span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.shadowPlayground-shadows {
  display: flex;
  flex-wrap: wrap;
}

.shadowPlayground-code {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.5em;

  border-top: 1px solid #BBB;
}

@media (min-width: 768px) {

  .shadowPlayground-fontStyles {
    flex-direction: row;
    justify-content: space-around;
  }
  .shadowPlayground-fonts {
    display: flex;
    flex-direction: column;
  }
  .shadowPlayground-shadows {
    flex-direction: column;
  }
}
