@import 'react-color-picker';

:root {
  /* define your namespaced vars here
  --fontSize-normal-view: 1rem;
  */
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.shadowPlayground-demo {
  font-size: 2em;
  margin: 0 auto;
  width: 60%;
}

.shadowPlayground-otherCSS {
  width: 50%;
  float: left;
}

.shadowPlayground-shadowCSS {
  width: 40%;
  float: right;
}

.shadowPlayground-colorPickerWrapper {
  /*width: 20%;*/
}

.shadowPlayground-colors {
  display: flex;
}

.shadowPlayground-colorBlock {
  padding: 0.5em;
  width: 10em;
  border: 1px solid black;
  margin: 0.5em;
}

.shadowPlayground-colorBlock.active {
  background: blue;
}

.shadowPlayground-colorBlock > span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
